<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Discipline:</strong>
  <%= @teacher.discipline %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone_num %>
</p>

<p>
  <strong>Address:</strong>
  <%= @teacher.addr %>
</p>

<% if current_user.type == "Admin" || current_user.id == @teacher.id %>
  <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<% end %>
<%= link_to 'Home', welcome_path %>
